.botao {
  background-color: #6278f7;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 16px 16px 16px 5px;
  font-size: 18px;
  color: white
}

.botao:hover {
  background-color: #95ffd4;
}

.botao * {
  margin:0px 0.5rem;
}